{% extends 'foodreview/base.html' %}

{% block content %}

<h1>{{ restaurant.name }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p>Address: {{ restaurant.address }}</p>
<p>Reviews</p>
<p>Average Rating: {{ restaurant.average_rating }}</p>
<p>Total Reviews: {{ restaurant.total_reviews }}</p>
<button class="btn btn-primary">Write your review</button>
{% if latest_review_list %}
<div>
    {% for review in latest_review_list %}
    <div>
        <h4><a href="{% url 'reviews:review_detail' review.id %}">
                {{ review.customer.name }}
            </a></h4>
        <h6>rated {{ review.rating }} of 5</h6>
        <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}


{% endblock %}